@*@using SymOrdinary
    @using System.Threading;

    @{

        ShampanIdentity identity = null;
        try
        {
            identity = (ShampanIdentity)Thread.CurrentPrincipal.Identity;
        }
        catch (Exception)
        {
            Response.Redirect("/VMS/Home/Login");
            return;
        }
    }*@

<div class="content white menuheight">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <ul class="nav col-xs-4 visible-xs">
                <li class="dropdown1" style="padding-top: 4px">
                    <a href="#" class=" btn btn-warning">VAT </a>
                </li>
            </ul>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!--/.navbar-header-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class=" nav navbar-nav">
                <li class="dropdown  Setup">
                    <a href="/VMS/Home/Index">Home<b class="caret"></b></a>
                    <ul class="dropdown-menu multi-column columns-1">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="dropdown">
                                        <a href="/VMS/Home/CharInfo" class="btn btn-info ">DashBoard</a>
                                    </li>
                                </ul>
                            </div>
                            @*@if (identity.IsPermitted("200150110"))
                                {*@

                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="dropdown">
                                        <a href="/VMS/Home/LogOut" class="btn btn-info ">Log out</a>
                                    </li>
                                </ul>
                            </div>
                            @*}

                                @if (identity.IsPermitted("200160110"))
                                {*@

                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="dropdown">
                                        <a href="/VMS/Home/Login" class="btn btn-info ">Login</a>
                                    </li>
                                </ul>
                            </div>
                            @* }*@

                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="dropdown">
                                        <a href="/VMS/Home/Index?changeBranch=true" class="btn btn-info ">Change Branch</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="dropdown">
                                        <a href="/VMS/UserInformation/ChangePassword" class="btn btn-info ">Change Password</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="dropdown">
                                        <a href="https://dvs.icab.org.bd/DVS/DocumentVerification" target="_blank" class="btn btn-info ">Document Verification System </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="dropdown">
                                        <a href="http://103.48.16.132/echalan" target="_blank" class="btn btn-info ">Online Challan Verification</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="dropdown">
                                        <a href="/VMS/Audit" class="btn btn-info ">Audit</a>
                                    </li>
                                </ul>
                            </div>
                            

                            
                            

                            @*<div class="col-sm-12">
                                    <ul class="multi-column-dropdown">
                                        <li class="dropdown">
                                            <a href="/VMS/Chart/Index?TransactionType=chartBar" class="btn btn-info ">Chart Bar</a>
                                        </li>
                                    </ul>
                                </div>*@

                            @*<div class="col-sm-12">
                                    <ul class="multi-column-dropdown">
                                        <li class="dropdown">
                                            <a href="/VMS/Chart/Index?TransactionType=chartPie" class="btn btn-info ">Chart Pie</a>
                                        </li>
                                    </ul>
                                </div>*@

                        </div>

                    </ul>
                </li>
                @*@if (identity.IsPermitted("110"))
                    {*@
                
                @*}*@

                @*@if (identity.IsPermitted("120"))
                    {*@


                @*}*@


                @*<li class="dropdown  "><a href="/VMS/Purchase/Index?TransactionType=Trading" class="btn btn-info">Trading</a></li>
                    <li class="dropdown  "><a href="/VMS/Purchase/Index?TransactionType=TradingImport" class="btn btn-info">Trading Import</a></li>
                *@

                @*@if (identity.IsPermitted("130"))
                    {*@

                @*}*@

                @*@if (identity.IsPermitted("140"))
                    {*@

                @*@if (identity.IsPermitted("120"))
                    {*@
                

                @*}*@

                @*@if (identity.IsPermitted("130"))
                    {*@
                
                @*}*@

                


                @*}*@


                @*<div class="col-sm-12">
                        <ul class="multi-column-dropdown">
                            <li class="dropdown">
                                <a href="/VMS/SaleInvoice/Index?TransactionType=Trading" class="btn btn-info ">Trading</a>
                            </li>
                        </ul>
                    </div>
                *@

                @*@if (identity.IsPermitted("150"))
                    {*@


                @*}*@


                

                

                @*@if (identity.IsPermitted("170"))
                    {*@

                

                @*}

                    @if (identity.IsPermitted("180"))
                    {*@

                <li class="dropdown  Setup">
                    <a href="/VMS/NBRReport/Index">NBR Report<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @*@if (identity.IsPermitted("180110110"))
                            {*@
                        <li><a class="dropdown btn btn-info VAT4_3">VAT 4.3</a></li>
                        @*}
                            @if (identity.IsPermitted("180120110"))
                            {*@
                        <li><a class="dropdown btn btn-info VAT6_1">VAT 6.1</a></li>
                        @*}
                            @if (identity.IsPermitted("180130110"))
                            {*@
                        <li><a class="dropdown btn btn-info VAT6_2">VAT 6.2</a></li>
                        <li><a class="dropdown btn btn-info VAT6_2_1">VAT 6.2.1</a></li>
                        @*}

                            @if (identity.IsPermitted("180170110"))
                            {*@
                        <li><a class="dropdown btn btn-info VAT6_3">VAT 6.3</a></li>
                        @*}
                            @if (identity.IsPermitted("180180110"))
                            {*@
                        <li><a class="dropdown btn btn-info VAT6_5">VAT 6.5</a></li>
                        @*}
                            @if (identity.IsPermitted("180150110"))
                            {*@
                        <li><a class="dropdown btn btn-info VAT6_7">VAT 6.7</a></li>
                        <li><a class="dropdown btn btn-info VAT6_8">VAT 6.8</a></li>

                        <li><a class="dropdown btn btn-info VAT6_10Report">VAT 6.10</a></li>
                        @*}
                            @if (identity.IsPermitted("180140110"))
                            {*@
                        <li class="dropdown"><a href="/Vms/NBRReport/ViewVAT9_1" class="btn btn-info ">VAT 9.1</a></li>
                        @*}

                            @if (identity.IsPermitted("180230"))
                            {*@
                        <li class="dropdown dropdown-submenu">
                            <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Chak</a>
                            <ul class="dropdown-menu">
                                @*@if (identity.IsPermitted("180230110"))
                                    {*@
                                <li><a class="dropdown btn btn-info VATChak_ka">Chak Ka</a></li>
                                @*}
                                    @if (identity.IsPermitted("180230120"))
                                    {*@
                                <li><a class="dropdown btn btn-info VATChakKha">Chak Kha</a></li>
                                @*}*@
                            </ul>
                        </li>
                        @*}*@

                        @*@if (identity.IsPermitted("180160110"))
                            {*@
                        <li><a class="dropdown btn btn-info VATSD_Report">SD Report</a></li>
                        @*}*@

                    </ul>
                </li>

                @*MIS Report Manu Start*@

                <li class="dropdown  Setup">
                    <a href="/VMS/MISReport/Index">MIS Report<b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li><a class="dropdown btn btn-info MisPurchase">Purchase</a></li>

                        <li><a class="dropdown btn btn-info MisSale">Sale</a></li>


                        <li class="dropdown dropdown-submenu">
                            <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Production</a>
                            <ul class="dropdown-menu">

                                <li><a class="dropdown btn btn-info MisIssue">Issue</a></li>

                                <li><a class="dropdown btn btn-info MisReceive">Receive</a></li>
                            </ul>
                        </li>


                        <li class="dropdown dropdown-submenu">
                            <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Stock</a>
                            <ul class="dropdown-menu">

                                <li><a class="dropdown btn btn-info MisStock">Stock</a></li>

                                <li><a class="dropdown btn btn-info MisReceiveSale">Receive Sale</a></li>

                                <li><a class="dropdown btn btn-info MisReconsciliation">Reconsciliation</a></li>

                                <li><a class="dropdown btn btn-info MisStockMovement">Branch Stock Movement</a></li>
                            </ul>
                        </li>

                        <li class="dropdown dropdown-submenu">
                            <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Deposit</a>
                            <ul class="dropdown-menu">

                                <li><a class="dropdown btn btn-info MisDeposit">Deposit</a></li>

                                <li><a class="dropdown btn btn-info MisCurrentAccount">Current Account</a></li>
                                <li><a class="dropdown btn btn-info MisVDS">Summary VDS</a></li>

                            </ul>
                        </li>


                        <li class="dropdown dropdown-submenu">
                            <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Other</a>
                            <ul class="dropdown-menu">


                                <li><a class="dropdown btn btn-info MisYearlySale">Yearly Sale</a></li>

                                <li><a class="dropdown btn btn-info MisMonthlySale">Monthly Sale</a></li>

                                <li><a class="dropdown btn btn-info MisYearlyPurchase">Yearly Purchase</a></li>

                                <li><a class="dropdown btn btn-info MisMonthlyPurchase">Monthly Purchase</a></li>

                                <li><a class="dropdown btn btn-info MisTransferIssue">Transfer Issue</a></li>

                                <li><a class="dropdown btn btn-info MisTransferReceive">Transfer Receive</a></li>

                                <li><a class="dropdown btn btn-info MisAdjustment">Adjustment</a></li>

                                <li><a class="dropdown btn btn-info MisCo-Efficient">Co-Efficient</a></li>

                                <li><a class="dropdown btn btn-info MisWastage">Wastage</a></li>

                                <li><a class="dropdown btn btn-info MisSerialStock">SerialStock</a></li>

                                <li><a class="dropdown btn btn-info MisPurchaseLC">Purchase LC</a></li>

                                <li><a class="dropdown btn btn-info" href="/VMS/MISReport/Traking">Traking Sale Purchase</a> </li>

                                <li><a class="dropdown btn btn-info" href="/VMS/MISReport/ACIReconsileReport">ACI Reconsile Report</a> </li>


                            </ul>
                        </li>


                    </ul>

                </li>

                @* MIS Report Manu End *@


            </ul>

            @*<ul class="nav navbar-nav navbar-right" style="border-left: 5px solid #fff">
                    <li class="dropdown1">
                        <a href="#" class="dropdown-toggle sym-btn-back" title="Go Back" onclick="goBack()" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">&nbsp;Back</a>
                    </li>
                    <li class="dropdown1">
                        <a href="#" class="dropdown-toggle btn btn-warning" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">VAT </a>
                    </li>
                </ul>*@

            <div class="col-sm-2 " style="float: right;">
                <img src="~/Images/symphonyLogo.png" style="height:50px; float:right;" />
            </div>

        </div>
    </nav>
</div>
<div id="myModal" class="trkmodal"></div>
<script>
    $(function () {
        function modalInit(url) {
            var modal = document.getElementById('myModal');
            $.ajax({
                url: url,
                cache: false,
                beforeSend: function () { $(".loading").show(); },
                complete: function () { $(".loading").fadeOut(200).hide("slow") },
                success: function (html) {
                    modal.style.display = "block";
                    $("#myModal").html(html);
                }
            });
        }

        ;
        $('.VAT4_3').click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            var url = "/Vms/NBRReport/PrintVAT1";
            modalInit(url);
        });

        $('.VAT6_1').click(function () {
            var url = "/Vms/NBRReport/PrintVAT16";
            modalInit(url);
        });

        $('.VAT6_2').click(function () {
            var url = "/Vms/NBRReport/PrintVAT17";
            modalInit(url);
        });
        $('.VAT6_2_1').click(function () {
            var url = "/Vms/NBRReport/PrintVAT6_2_1";
            modalInit(url);
        });
        $('.VAT6_3').click(function () {
            var url = "/Vms/NBRReport/PreviewVAT6_3";
            modalInit(url);
        });

        $('.VAT6_5').click(function () {
            var url = "/Vms/NBRReport/transferIsuue";
            modalInit(url);
        });

        $('.VAT6_10Report').click(function () {
            var url = "/Vms/NBRReport/VAT6_10Report";
            modalInit(url);
        });

        $('.VATChak_ka').click(function () {
            var url = "/Vms/NBRReport/chakka";
            modalInit(url);
        });

        $('.VATChakKha').click(function () {
            var url = "/Vms/NBRReport/chakkha";
            modalInit(url);
        });

        $('.VATSD_Report').click(function () {
            var url = "/Vms/NBRReport/PrintVATSD";
            modalInit(url);
        });

        $('.MisPurchase').click(function () {
            var url = "/Vms/MISReport/PrintPurchase";
            modalInit(url);
        });

        $('.MisSale').click(function () {
            var url = "/Vms/MISReport/PrintSale";
            modalInit(url);
        });

        $('.MisIssue').click(function () {
            var url = "/Vms/MISReport/PrintIssue";
            modalInit(url);
        });

        $('.MisReceive').click(function () {
            var url = "/Vms/MISReport/PrintReceive";
            modalInit(url);
        });

        $('.MisStock').click(function () {
            var url = "/Vms/MISReport/PrintStock";
            modalInit(url);
        });

        $('.MisReceiveSale').click(function () {
            var url = "/Vms/MISReport/PrintReceiveStock";
            modalInit(url);
        });

        $('.MisReconsciliation').click(function () {
            var url = "/Vms/MISReport/PrintReconsciliation";
            modalInit(url);
        });

        $('.MisStockMovement').click(function () {
            var url = "/Vms/MISReport/PrintBranchStockMovement";
            modalInit(url);
        });

        $('.MisDeposit').click(function () {
            var url = "/Vms/MISReport/PrintDeposit";
            modalInit(url);
        });

        $('.MisCurrentAccount').click(function () {
            var url = "/Vms/MISReport/PrintCurrentAccount";
            modalInit(url);
        });

        $('.MisAdjustment').click(function () {
            var url = "/Vms/MISReport/PrintAdjustment";
            modalInit(url);
        });

        $('.MisCo-Efficient').click(function () {
            var url = "/Vms/MISReport/PrintCoEfficient";
            modalInit(url);
        });

        $('.MisWastage').click(function () {
            var url = "/Vms/MISReport/PrintWastage";
            modalInit(url);
        });

        $('.MisSerialStock').click(function () {
            var url = "/Vms/MISReport/PrintSerialStock";
            modalInit(url);
        });

        $('.MisPurchaseLC').click(function () {
            var url = "/Vms/MISReport/PrintPurchaseLC";
            modalInit(url);
        });





    });
</script>

<script>

    $(document).ready(function () {

        @*var allRoles = '@Session["AllRoles"]';
        var userRoles = '@Session["UserRoles"]';

        allRoles = allRoles.replace(/&quot;/g, '"');
        userRoles = userRoles.replace(/&quot;/g, '"');
        allRoles = JSON.parse(allRoles);
        userRoles = JSON.parse(userRoles);*@

        //console.log(userRoles)

        $("a").each(function (i) {

            var element = $(this);
            var formId = element.attr("id");

            //if (formId) {

            //    var role = allRoles.find(function(item) {

            //        return item.FormID == formId;
            //    });

            //    var userRole = userRoles.find(function (item) {

            //        return item.FormID == formId.trim();
            //    });


            //    if (role && role.Access !== "1") {

            //       element.hide();
            //    }

            //    if (userRole && userRole.Access !== "1") {

            //        element.hide();
            //    }


            //    //console.log(userRole, formId)
            //}

        });

    })

</script>


<style>
    .navbar-default .navbar-nav > li.dropdown:hover > a,
    .navbar-default .navbar-nav > li.dropdown:hover > a:hover,
    .navbar-default .navbar-nav > li.dropdown:hover > a:focus {
        /*background-color: rgb(231, 231, 231);*/
        color: rgb(85, 85, 85);
    }

    li.dropdown:hover > .dropdown-menu {
        display: block;
    }
</style>

<style>
    /*.navbar-default .navbar-nav > li.dropdown:active > a,
    .navbar-default .navbar-nav > li.dropdown:hover > a:hover,
    .navbar-default .navbar-nav > li.dropdown:hover > a:focus
    {
        background-color: rgb(252, 255, 0);
    }

    .navbar-default .navbar-nav > li.dropdown:visited > a
    .navbar-default .navbar-nav > li.dropdown:hover > a:visited,
    .navbar-default .navbar-nav > li.dropdown:visited > a:visited
    {
        background-color: rgb(0, 154, 255);
    }*/
</style>

<style>
    .navbar-collapse {
        padding-right: 0px;
        padding-left: 0px;
    }

    /*.navbar-nav > li > a, .navbar-nav > li > a {
        padding-top: 3px !important;
        padding-bottom: 5px !important;
    }*/

    .nav > li > a {
        padding: 15px 10px;
    }
</style>

