@model VATViewModel.DTOs.AuditVM
@using UIHelper.MVC
@using SymOrdinary
@using System.Threading;
@using VATServer.Ordinary

@{
    ShampanIdentity identity = null;
    try
    {
        identity = (ShampanIdentity)Thread.CurrentPrincipal.Identity;
    }
    catch (Exception)
    {
        Response.Redirect("/VMS/Home/Login");
        return;
    }
}
@{
    ViewBag.Title = "Create";
}

<div class="tab-content">

    <div id="Excel" class="tab-pane fade  in ">

        <div class="thinbox row">
            <div class="th_thinbox">
                <p>Excel Import</p>
            </div>
            @using (Ajax.BeginForm("ImportExcel", "Purchase", null, new AjaxOptions { }, new { enctype = "multipart/form-data", @Id = "frmPurchaseImport" }))
            {
                @Html.HiddenFor(model => model.TransactionType)

                <div class="col-md-offset-6 col-md-6 verticalLine">
                    <div class="col-md-6">
                        <label>File</label>
                        @Html.TextBoxFor(model => model.File, new { @type = "file", @accept = ".xlsx", @class = " form-control" })
                    </div>
                    <div class="col-md-6">
                        <label>&nbsp;</label>
                        <button type="button" onclick="pageSubmit('frmPurchaseImport');" class="sym-btn-file-upload">&nbsp;Upload</button>
                    </div>
                </div>
            }
        </div>

    </div>

</div>


