<div class="headrow">
    <button type="button" title="Add New Vendor Group" data-url="/VMS/VendorGroup/Create" id=""  class="btnCreate sym-btn-add ">&nbsp;New</button>
    <button type="button" title="View Report" class=" sym-btn-report printBtn">&nbsp;Print</button>
    @*<button type="button" title="Delete VendorGroup" data-url="/VMS/VendorGroup/Delete" onclick="deletedData(this, 'myDataTable');" id="" class="sym-btn-remove">&nbsp;Delete</button>*@
    <label class="pull-right">Vendor Group</label>
</div>
<div class="thinbox animated slideInDown faster">
    <div class="th_thinbox">
        <p>Vendor Group List</p>
    </div>
    <table id="myDataTable" class="display">
        <thead>
            <tr>
                <th class="center">
                    <input type="checkbox" class="chkAll" />Select All</th>
                <th>Group Name</th>
                <th>Group Type</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <br />
</div>
<div class="headrow">
        <button type="button" title="Add New VendorGroup" data-url="/VMS/VendorGroup/Create" id="" class="btnCreate sym-btn-add ">&nbsp;New</button>
        <button type="button" title="View Report" class=" sym-btn-report printBtn">&nbsp;Print</button>
        @*<button type="button" title="Delete Vendor Group" data-url="/VMS/VendorGroup/Delete" onclick="deletedData(this, 'myDataTable');" id="" class="sym-btn-remove">&nbsp;Delete</button>*@
</div>
<div id="myModal" class="trkmodal"></div>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        SelectAllForDelete();
        $.datepicker.regional[""].dateFormat = 'dd/M/y';
        $.datepicker.setDefaults($.datepicker.regional['']);

        function modalInit() {
            var modal = document.getElementById('myModal');
            $('.printBtn').click(function () {
                var url = "/Vms/VendorGroup/PrintVendorGroup";
                $.ajax({
                    url: url,
                    cache: false,
                    beforeSend: function () { $(".loading").show(); },
                    complete: function () { $(".loading").fadeOut(200).hide("slow") },
                    success: function (html) {
                        modal.style.display = "block";
                        $("#myModal").html(html);
                    }
                });
            });
        }
        modalInit();

        var oTable = $('#myDataTable').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/VMS/VendorGroup/_index",
            "bProcessing": true,
            "aLengthMenu": tablelength(),
            "bJqueryUI": true,
            "bAutoWidth": false,
            "aoColumns": [
                            {
                                "sName": "Id",
                                "bSearchable": false,
                                "bSortable": false,
                                "sWidth": "10%",
                                "sClass": "center",
                                "fnRender": function (oObj) {
                                    return ' <input onclick="CheckAll(this)" type="checkbox" data-Id="' + oObj.aData[0] + '">'
                                        + '&nbsp; <a id=""  title="Click on for Edit"  style="text-decoration:none;"   href=\"/VMS/VendorGroup/Edit/' + oObj.aData[0] + '\" class="lnkEdit sym-btn-edit-row"></a>'
                                        ////+ '&nbsp; <a title="Click on for Delete"  data-url="/VMS/VendorGroup/Delete" onclick="deletedData(this, myDataTable,\'' + oObj.aData[0] + '\');"  class="sym-btn-remove-row"></a>'
                                    ;
                                }
                                //"sName": "Id", "sWidth": "12%"
                            }
                            , { "sName": "VendorGroupName", "sWidth": "10%" }
                            , { "sName": "GroupType", "sWidth": "10%" }

            ]
        });
    });
</script>
