<div class="headrow">
    <button type="button" title="Add New Product" data-url="/VMS/AdjustmentHistory/Create" onclick="GoTo(this)" id="" class=" sym-btn-add ">&nbsp;New</button>
    <button type="button" title="View Report" class=" sym-btn-report printBtn">&nbsp;Print</button>
   @* <button type="button" title="Delete AdjustmentHistory" data-url="/VMS/AdjustmentHistory/Delete" onclick="deletedData(this, 'myDataTable');" id="" class="sym-btn-remove">&nbsp;Delete</button>*@
    <label class="pull-right">Adjustment History </label>
</div>
<div class="thinbox animated slideInDown faster">
    <div class="th_thinbox">
        <p>Adjustment History List</p>
    </div>
    <table id="myDataTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th class="center">
                    <input type="checkbox" class="chkAll" />Select All
                </th>
                <th>History No</th>
                <th>Head Name</th>
                <th>Input Amount </th>
                <th>Input Percent</th>
                <th>Amount</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <br />
</div>
<div class="headrow">
    <button type="button" title="Add New Product" data-url="/VMS/AdjustmentHistory/Create" onclick="GoTo(this)" id="" class=" sym-btn-add ">&nbsp;New</button>
    <button type="button" title="View Report" class=" sym-btn-report printBtn">&nbsp;Print</button>    
    @*<button type="button" title="Delete AdjustmentHistory" data-url="/VMS/AdjustmentHistory/Delete" onclick="deletedData(this, 'myDataTable');" id="" class="sym-btn-remove">&nbsp;Delete</button>*@
</div>

<div id="myModal" class="trkmodal"></div>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {

        function modalInit() {
            var modal = document.getElementById('myModal');
            $('.printBtn').click(function () {
                var url = "/Vms/Product/PrintProducts";
                $.ajax({
                    url: url,
                    cache: false,
                    beforeSend: function () { $(".loading").show(); },
                    complete: function () { $(".loading").fadeOut(200).hide("slow") },
                    success: function (html) {
                        modal.style.display = "block";
                        $("#myModal").html(html);
                    }
                });
            });
        }
        //modalInit();

        SelectAllForDelete();
        $.datepicker.regional[""].dateFormat = 'dd/M/y';
        $.datepicker.setDefaults($.datepicker.regional['']);

        var oTable = $('#myDataTable').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/VMS/AdjustmentHistory/_index",
            "bProcessing": true,
            "aLengthMenu": tablelength(),
            "bJqueryUI": true,
            "bAutoWidth": false,
            "aoColumns": [
                            {
                                "sName": "Id",
                                "bSearchable": false,
                                "bSortable": false,
                                "sWidth": "8%",
                                "sClass": "center",
                                "fnRender": function (oObj) {
                                    return '&nbsp; <a id=""  title="Click on for Edit"  style="text-decoration:none;"   href=\"/VMS/AdjustmentHistory/Edit/' + oObj.aData[0] + '\" class=" innerListLink sym-btn-edit-row"></a>'
                                        
                                    ;
                                }

                                //' <input onclick="CheckAll(this)" type="checkbox" data-Id="' + oObj.aData[0] + '">'+ 
                                //+ '&nbsp; <a title="Click on for Delete"  data-url="/VMS/AdjustmentHistory/Delete" onclick="deletedData(this, myDataTable,\'' + oObj.aData[0] + '\');"  class="sym-btn-remove-row"></a>'
                                //"sName": "Id", "sWidth": "12%"
                            }
                            , { "sName": "AdjHistoryNo", "sWidth": "10%" }
                            , { "sName": "HeadName", "sWidth": "12%" }
                            , { "sName": "AdjInputAmount", "sWidth": "10%" }
                            , { "sName": "AdjInputPercent", "sWidth": "10%" }
                            , { "sName": "AdjAmount", "sWidth": "10%" }
                            , { "sName": "AdjType", "sWidth": "10%" }


            ]
        });

    });
</script>
