@model SymViewModel.Sage.MailDetailViewModel

@using UIHelper.MVC
@{
    Layout = null;
}

<div class="col-md-12">
    @using (Html.BeginCollectionItem("Vms"))
    {
    <div class="col-md-8">
        <div class="col-md-1" style="text-align:right;padding-right:0px;">
            <input type="checkbox" name="ConfirmMail" checked/>
        </div>
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.MailTo, new { @class = "  mailTo  form-control" , @readonly = "readonly" })
        </div>
    </div>
    }
</div>