@using UIHelper.MVC
@{
    Layout = "~/Areas/VMS/Views/Shared/_ModalLayout.cshtml";
}
<style>
    .trkMT10 {
        margin-top: 10px;
    }

    .sortableHeader {
        cursor: pointer;
    }

    table.trkFixTable tr.trSelectPopUpProduct td {
        overflow-x: hidden;
    }
</style>


<div class="row">
    <div class="col-md-1">
        <div class="editor-label">
            <label for="DataSourceType">Data Source</label>
        </div>
        <div class="editor-field">
            <select class="form-control" id="DataSourceType" name="DataSourceType">
                <option selected>Database</option>
            </select>
        </div>
    </div>
    <div class="searchText">
        <div class="col-md-2">
            <label>Challan No</label>
            @Html.TextBox("SearchValue", "", new { @class = " form-control" })
        </div>
        <div class="col-md-2">
            <div class="editor-label">
                <label for="FromDate">From Delivery Date </label>
            </div>
            <div class="editor-field">
                @Html.TextBox("FromDate", "", new { @placeholder = "From Delivery Date", @class = "  customDatePicker  form-control" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-label">
                <label for="ToDate">To Delivery Date</label>
            </div>
            <div class="editor-field">
                @Html.TextBox("ToDate", "", new { @placeholder = "To Delivery Date", @class = "  customDatePicker  form-control" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                <label for="Processed">Status</label>
            </div>
            <div class="editor-field">
                <select class="form-control" id="Processed" name="Processed">
                    <option>Y</option>
                    <option>N</option>
                    <option selected>ALL</option>
                </select>
            </div>
        </div>
        
    </div>
    <div class="col-md-1">
        <label>&nbsp;</label>
        <button type="button" title="Click to Search" id="searchBtn" class="sym-btn-search btnSaleSearch" style="width:100%">&nbsp;Search</button>
    </div>
    <div class="col-md-1">
        <label>&nbsp;</label>
        <button type="button" title="Click to Clear" id="clearBtn" class="sym-btn-clear btnClear" style="width:100%">&nbsp;Clear</button>
    </div>
</div>
<div class="row">
</div>
    <div class="row">
        <div class="fixedParent">
            <table class="trkFixTable" id="productPopUpTable">
                <thead>
                    <tr>

                        <th>Action                  </th>
                        <th>SSO                     </th>
                        <th>Section                 </th>
                        <th>Delivery Date           </th>
                        <th>Status                  </th>
                        <th>Challan No              </th>
                        <th>Memo Count              </th>
                    </tr>
                </thead>
                <tbody id="popUpTbody"></tbody>
            </table>
        </div>
    </div>
    <form id="ReportForm" method="post" target="_blank"></form>
    <div id="myHigherModal" class="HigherModal"></div>



    @*--------------------------------------------------Search/Save/Clear--------------------------------------------------*@

    <script>

        $(document).ready(function () {

        });





    </script>





    <script>



        $(function () {

            $("#Integration #searchBtn").on("click", function () {

                IntegrationSearch();
            });

        });

        function IntegrationSearch(IDs) {
            var model = {
                refNo: $("#Integration #SearchValue").val()
                , FromDate: $("#Integration #FromDate").val()
                , ToDate: $("#Integration #ToDate").val()
                , DataSourceType: $("#Integration #DataSourceType").val()
                , TransactionType: $("#Integration .clTransactionType").val()
                , Processed: $("#Processed").val()
            }

            if (model.refNo != null && model.refNo != "") {

                model.FromDate = null;
                model.ToDate = null;
            }

            if (!model.FromDate && !model.refNo) {
                ShowResult("Fail", "Please Select Date Range !");
                return;
            }



            $.ajax({
                data: model
                , url: "/Vms/Integration/GetSaleData_Unilever"
                , cache: false
                 , traditional: true
                , type: "POST"
                , beforeSend: function () { $(".loading").show(); }
                , success: function (html) {
                    $("#Integration #popUpTbody").html("");
                    $("#Integration #popUpTbody").html(html);
                    callingFixedPopUpTable();

                    var SelectedItem = $("#Integration  .trSelectPopUpProduct");

                    if (SelectedItem.length <= 0) {
                        ShowResult("Fail", "This Transaction Already Integrated or Not Exist in Source!");
                        return;
                    }

                }
                , complete: function () { $(".loading").fadeOut(200).hide("slow") }
            });
        }

        function IntegrationSave(sender) {
          
            var IDs = [];
          

            var Status = $(sender).closest('tr').find('.dStatus').text();
            var ID = $(sender).closest('tr').find('.dChallanNo').text();

            if (Status == null || Status == "Saved") {
                ShowResult("Fail", "Data Already Saved!");
                return;
            }

            IDs.push(ID);

            if (IDs == null || IDs.length == 0) {
                ShowResult("Fail", "No Data to Integrate!");
                return;
            }

            var questionMSG = "Are you sure to Save Data!";
            Ask(questionMSG, function () {

                var model = {
                    RefNo: $("#Integration #SearchValue").val()
               , FromDate: $("#Integration #FromDate").val()
               , ToDate: $("#Integration #ToDate").val()
               , Processed: $("#Processed").val()
               , IDs: IDs
               , TransactionType: $("#TransactionType").val()

                }

                $.ajax({
                    data: model
                    , url: "/VMS/Integration/SaveSale_Unilever"
                    , cache: false
                    , traditional: true
                    , type: "POST"
                    , timeout: 500000
                    , beforeSend: function () { $(".loading").show(); }
                    , success: function (rVM) {
                        if (rVM.Status == "Success") {

                            if (rVM.Step == "Y" && TransactionType != 'Credit') {

                                Ask("Data validation Complete, Are you sure to Save?",
                                    function () {

                                        var data = new FormData();
                                        data.append("TransactionType", $("#TransactionType").val());

                                        $.ajax({
                                            url: "/VMS/Integration/SaveSale_BCL_Step2",
                                            type: "POST",
                                            data: data,
                                            contentType: false,
                                            processData: false,
                                            timeout: 600000,

                                            beforeSend: function () { $(".loading").show(); },
                                            success: function (rVM) {


                                                ShowResult(rVM.Status, rVM.Message);

                                                if (rVM.Status == "Success") {
                                                    $("#Processed").val('ALL');
                                                    IntegrationSearch(IDs);
                                                }
                                            },
                                            error: function (err) {
                                                err = JSON.parse(err)
                                                ShowResult("Fail", err.message);
                                            },
                                            complete: function () { $(".loading").fadeOut(200).hide("slow") }
                                        });
                                    },
                                    function () {
                                    })
                            } else {
                                ShowResult(rVM.Status, rVM.Message);
                                if (rVM.Status == "Success") {
                                    $("#Processed").val('ALL');

                                    IntegrationSearch(IDs);
                                }
                            }
                        } else {
                            ShowResult(rVM.Status, rVM.Message);
                        }
                    }
                    , error: function () {
                        ShowResult("fail", "Something gone wrong");
                    }
                    , complete: function () { $(".loading").fadeOut(200).hide("slow") }
                });


            });
           
        }

        function IntegrationClear() {
            $("#Integration .searchText :input").val("");
        }

    </script>


    @*--------------------------------------------------Preview/Post--------------------------------------------------*@



    @*--------------------------------------------------Print--------------------------------------------------*@

    <script>

        function modalInit(url) {
            var modal = $('#Integration #myHigherModal');
            $.ajax({
                url: url,
                cache: false,
                beforeSend: function () { $(".loading").show(); },
                success: function (html) {
                    modal.css("display", "block");
                    ////modal.style.display = "block";
                    $("#Integration #myHigherModal").html(html);

                    GetPrinters();
                },
                complete: function () { $(".loading").fadeOut(200).hide("slow") }

            });
        }



        function closeModal() {
            var modal = $('#Integration #myHigherModal');

            modal.html("");
            modal.css("display", "none");
        }
    </script>





    @*--------------------------------------------------Detail--------------------------------------------------*@
    <script>
        ////$(function () {

        function IntegrationShowDetail(sender) {

            var Status = $(sender).closest('tr').find('.dStatus').text();

            if (Status == null || Status == "UnSaved") {
                ShowResult("Fail", "Please Save Challan First!");
                return;
            }
            var url = "/VMS/Integration/GetSaleData_Detail_Unilever";

            var IDs = [];
            var ID = $(sender).closest('tr').find('.dChallanNo').text();
            IDs.push(ID);

            var model = {
                Processed: 'ALL'
                , DataSourceType: $("#Integration #DataSourceType").val()
                , TransactionType: $("#TransactionType").val()
                , IDs: IDs
            }


            var modal = document.getElementById('myHigherModal');
            $.ajax({
                url: url,
                data: model,
                traditional: true,
                cache: false,
                beforeSend: function () { $(".loading").show(); },
                success: function (html) {
                    modal.style.display = "block";
                    $("#myHigherModal").html(html);
                }
                , complete: function () { $(".loading").fadeOut(200).hide("slow") }
            });

        }
        ////});

    </script>
@*--------------------------------------------------Back To Sales--------------------------------------------------*@
<script>
    ////$(function () {

    function SalesEdit(sender) {

        var dSalesInvoiceNo = $(sender).closest('tr').find('.dSalesInvoiceNo').text();

        if (Status == null || Status == "UnSaved") {
            ShowResult("Fail", "Please Save Challan First!");
            return;
        }
        var url = "/VMS/Integration/GetSaleData_Detail_Unilever";

        var IDs = [];
        var ID = $(sender).closest('tr').find('.dChallanNo').text();
        IDs.push(ID);

        var model = {
            Processed: 'ALL'
            , DataSourceType: $("#Integration #DataSourceType").val()
            , TransactionType: $("#TransactionType").val()
            , IDs: IDs
        }


        var modal = document.getElementById('myHigherModal');
        $.ajax({
            url: url,
            data: model,
            traditional: true,
            cache: false,
            beforeSend: function () { $(".loading").show(); },
            success: function (html) {
                modal.style.display = "block";
                $("#myHigherModal").html(html);
            }
            , complete: function () { $(".loading").fadeOut(200).hide("slow") }
        });

    }
    ////});

</script>





    @*--------------------------------------------------Report--------------------------------------------------*@

    <script>
        function PrintForm() {
           

            var questionMSG = "Do you want to Print!";
            Ask(questionMSG, function () {

                questionMSG = "Are you sure to Print!";
                Ask(questionMSG, function () {

                    IntegrationReportPreview('false');

                });


            });




        }
        function IntegrationReportPreview(PreviewOnly) {

            var $Items = $("#productPopUpTable_Detail  .dSelected:input:checkbox:checked");

            if ($Items == null || $Items.length == 0) {
                ShowResult("Fail", "You are requested to Select before Preview!");
                return;
            }

            $('#Integration #ReportForm').html("");

            var IDs = [];
            var clietnIDs = [];
            var SKUCounts = [];


            if (PreviewOnly == 'true') {

                $Items.each(function () {

                    var ID = $(this).closest('tr').find('.dSalesnvoiceNo').text();
                    var clietnID = $(this).closest('tr').find('.dID').text();
                    var SKUCount = $(this).closest('tr').find('.dSKUCount').text();


                    if (ID == null || ID == "") {
                        return;
                    }

                    IDs.push(ID);
                    clietnIDs.push(clietnID);
                    SKUCounts.push(SKUCount);


                    $('<input type="hidden" name="IDs"/>').val(ID).appendTo('#Integration #ReportForm');
                    $('<input type="hidden" name="SKUCounts"/>').val(SKUCount).appendTo('#Integration #ReportForm');


                });


                if (IDs == null || IDs.length == 0) {
                    ShowResult("Fail", "No Invoice to Preview!");
                    return;
                }
            }
            else if (PreviewOnly == 'false') {

                $Items.each(function () {

                    var ID = $(this).closest('tr').find('.dSalesnvoiceNo').text();
                    var clietnID = $(this).closest('tr').find('.dID').text();
                    var SKUCount = $(this).closest('tr').find('.dSKUCount').text();

                    //if (ID == null || ID == "" || Post == "N" || Post == "") {
                    //    return;
                    //}

                    IDs.push(ID);
                    clietnIDs.push(clietnID);
                    SKUCounts.push(SKUCount);

                    $('<input type="hidden" name="IDs"/>').val(ID).appendTo('#Integration #ReportForm');
                    $('<input type="hidden" name="SKUCounts"/>').val(SKUCount).appendTo('#Integration #ReportForm');


                });
                if (IDs == null || IDs.length == 0) {
                    ShowResult("Fail", "No Invoice is ready to Print!");
                    return;
                }

            }



            var TransactionType = $("#TransactionType").val();


            var url = "/VMS/Integration/Report_VAT6_3_Preview";

            if (TransactionType == "Credit") {
                var url = "/VMS/Integration/Report_VAT6_7_Preview";
            }
            if (TransactionType == "Debit") {
                var url = "/VMS/Integration/Report_VAT6_8_Preview";
            }
            url = url + "?" + "PreviewOnly=" + PreviewOnly;


            $('#Integration #ReportForm').attr('action', url);

            $("#Integration #ReportForm").submit();

        }

    </script>


    <script language="javascript" type="text/javascript">

        function callingFixedPopUpTable() {

            var args = [120, 200, 200 ,100, 100, 150, 150, 150, 100, 150, 150, 200, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100];
            trkFixedPopUpTable("productPopUpTable", 1, args);
        }


        $(function () {
            callingFixedPopUpTable();
        })
    </script>

    @*--------------------------------------------------unused--------------------------------------------------*@





