@using UIHelper.MVC
@{
    Layout = "~/Areas/VMS/Views/Shared/_ModalLayout.cshtml";
}
<style>
    .trkMT10 {
        margin-top: 10px;
    }

    .sortableHeader {
        cursor: pointer;
    }

    table.trkFixTable tr.trSelectPopUpProduct td {
        overflow-x: hidden;
    }
</style>


<div class="row">
    <div class="searchText">

        <div class="col-md-1">
            <div class="editor-label">
                <label for="Processed">Processed</label>
            </div>
            <div class="editor-field">
                <select class="form-control" id="Processed" name="Processed">
                    <option>ALL</option>
                    <option>Y</option>
                    <option selected>N</option>
                </select>
            </div>
        </div>

        <div class="col-md-2">
            <div class="editor-label">
                <label>Search Value</label>
            </div>
            <div class="editor-field">
                @Html.TextBox("SearchValue", "", new { @class = " form-control" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-label">
                <label for="DeliveryDate">From Date</label>
            </div>
            <div class="editor-field">
                @Html.TextBox("FromDate", "", new { @placeholder = "From Date", @class = "  customDatePicker  form-control" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-label">
                <label for="DeliveryDate">To Date</label>
            </div>
            <div class="editor-field">
                @Html.TextBox("ToDate", "", new { @placeholder = "To Date", @class = "  customDatePicker  form-control" })
            </div>
        </div>
        @*<div class="col-md-1">
            <div class="editor-label">
                <label for="Processed">Processed</label>
            </div>
            <div class="editor-field">
                <select class="form-control" id="Processed" name="Processed">
                    <option>ALL</option>
                    <option>Y</option>
                    <option selected>N</option>
                </select>
            </div>
        </div>*@
        @*<div class="col-md-1">
            <div class="editor-label">
                <label for="PostStatus">Post Status</label>
            </div>
            <div class="editor-field">
                <select class="form-control" id="PostStatus" name="PostStatus">
                    <option>ALL</option>
                    <option>Y</option>
                    <option selected>N</option>
                </select>
            </div>
        </div>*@
        @*<div class="col-md-1">
            <div class="editor-label">
                <label for="PrintStatus">Print Status</label>
            </div>
            <div class="editor-field">
                <select class="form-control" id="PrintStatus" name="PrintStatus">
                    <option>ALL</option>
                    <option>Y</option>
                    <option selected>N</option>
                </select>
            </div>
        </div>*@
    </div>
    <div class="col-md-1">
        <label>&nbsp;</label>
        <button type="button" title="Click to Search" id="searchBtn" class="sym-btn-search btnTransferSearch" style="width:100%">&nbsp;Search</button>
    </div>

    <div class="col-md-1">
        <label>&nbsp;</label>
        <button type="button" title="Click to Save" id="btnSaveTransfer" class="sym-btn-save btnSaveTransfer" style="width:100%">&nbsp;Save</button>
    </div>

    <div class="col-md-1">
        <label>&nbsp;</label>
        <button type="button" title="Click to Clear" id="clearBtn" class="sym-btn-clear f" style="width:100%">&nbsp;Clear</button>
    </div>
</div>

<div class="row">

</div>

<div class="row">
    <div class="fixedParent">
        <table class="trkFixTable" id="productPopUpTable">
            <thead>
                <tr>
                    @*<th><input type="checkbox" class="chkAll" />Select              </th>*@
                    @*<th>Action</th>*@
                    <th>ID</th>
                    <th>Branch Code</th>
                    <th>Transaction Date Time</th>
                    <th>Transaction Type</th>
                    <th>CostPrice</th>
                    <th>Transfer To Branch Code</th>
                    <th>Reference No</th>
                    <th>Product Code</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>UOM</th>
                    <th>Vehicle No</th>
                    <th>Vehicle Type</th>
                    <th>Post</th>
                    @*<th>Print</th>
                    <th>Invoice No</th>
                    <th>Total Quantity</th>
                    <th>Processed</th>*@

                </tr>
            </thead>
            <tbody id="popUpTbody"></tbody>
        </table>
    </div>
</div>
<form id="ReportForm" method="post" target="_blank"></form>
<div id="myHigherModal" class="HigherModal"></div>

@*--------------------------------------------------Search, Save--------------------------------------------------*@

<script>

    $(function () {

        $("#Integration #searchBtn").on("click", function () {

            IntegrationSearch();

        });

        $("#Integration #btnSaveTransfer").on("click", function () {
            var questionMSG = "Are you sure to Save Data!";
            Ask(questionMSG, function () {
                IntegrationSave();
            });

        });

        $("#Integration #clearBtn").on("click", function () {
            IntegrationClear();
        });

    });

    function IntegrationSearch(IDs) {

        var model = {
            RefNo: $("#Integration #SearchValue").val()
            , FromDate: $("#FromDate").val()
            , ToDate: $("#ToDate").val()
            , Processed: $("#Processed").val()
            , PostStatus: $("#PostStatus").val()
            , PrintStatus: $("#PrintStatus").val()
            , TransactionType: $("#TransactionType").val()
            , IDs: IDs
        }

        if (model.refNo != null && model.refNo != "") {

            model.FromDate = null;
            model.ToDate = null;
        }


        console.log()
        $.ajax({
            data: model
            , url: "/Vms/Integration/GetTransferData_EON"
            , traditional: true
            , type: "POST"
            , cache: false
            , beforeSend: function () { $(".loading").show(); }
            , success: function (html) {
                $("#Integration #popUpTbody").html("");
                $("#Integration #popUpTbody").html(html);
                callingFixedPopUpTable();

                var SelectedItem = $("#Integration  .trSelectPopUpProduct");

                if (SelectedItem.length <= 0) {
                    ShowResult("Fail", "This Transaction is Already Integrated or Not Exist in Source!");
                    return;
                }

            }
            , complete: function () { $(".loading").fadeOut(200).hide("slow") }
        });
    }

    function IntegrationSave() {

        //var IDs = [];
        //var $Items = $("#Integration  .dSelected:input:checkbox:checked");

        //if ($Items == null || $Items.length == 0) {
        //    ShowResult("Fail", "You are requested to Select before Save!");
        //    return;
        //}

        //$Items.each(function () {

        //    var ID = $(this).closest('tr').find('.dID').text();

        //    var InvoiceNo = $(this).closest('tr').find('.dInvoiceNo').text();
        //    if (InvoiceNo != null && InvoiceNo != "") {
        //        return;
        //    }

        //    IDs.push(ID);
        //});


        //if (IDs == null || IDs.length == 0) {
        //    ShowResult("Fail", "No Data to Integrate!");
        //    return;
        //}



        var model = {
            RefNo: $("#Integration #SearchValue").val()
            , FromDate: $("#FromDate").val()
            , ToDate: $("#ToDate").val()
            , TransactionType: $("#TransactionType").val()
            //, Processed: $("#Processed").val()
            //, PostStatus: $("#PostStatus").val()
            //, PrintStatus: $("#PrintStatus").val()
            //, IDs: IDs
        }

        if (model.refNo != null && model.refNo != "") {

            model.FromDate = null;
            model.ToDate = null;
        }

        $.ajax({
            data: model
            , url: "/Vms/Integration/SaveTransferData_EON"
            , cache: false
            , traditional: true
            , type: "POST"
            , beforeSend: function () { $(".loading").show(); }
            , success: function (rVM) {

                ShowResult(rVM.Status, rVM.Message);

                //if (rVM.Status == "Success") {
                //    $("#Processed").val('Y');
                //    IntegrationSearch(IDs);
                //}

            },
            error: function () {
                ShowResult("Fail", "Something gone wrong");
            }
            , complete: function () { $(".loading").fadeOut(200).hide("slow") }
        });
    }

    function IntegrationClear() {

        $("#Integration .searchText :input").val("");
    }

</script>

@*--------------------------------------------------Preview, Post--------------------------------------------------*@

<script>
    function GoToPage() {
        var InvoiceNo = $("#Integration #InvoiceNo").val();
        if (InvoiceNo == null || InvoiceNo == "") {
            ShowResult("Fail", "No Data Available!");
            $("#Integration #InvoiceNo").focus();
            return;
        }

        var url = "/VMS/TransferIssue/GetTransfer" + "?" + "TransferIssueNo=" + InvoiceNo;
        $.getJSON(url, function (vm) {

            var Id = vm.Id;

            window.location = "/VMS/TransferIssue/Edit/" + Id;

        });


    }


    $(function () {

        $("#Integration .cReportButton").on("click", function () {

            IntegrationReport('true');

        });

        $("#Integration .cPrintButton").on("click", function () {


            var questionMSG = "Do you want to Print!";
            Ask(questionMSG, function () {

                questionMSG = "Are you sure to Print!";
                Ask(questionMSG, function () {

                    IntegrationReport('false');

                });
            });


        });



        $("#Integration .cPostButton").on("click", function () {

            IntegrationPost();
        });
    });


    function IntegrationReport(PreviewOnly) {

        var $Items = $("#Integration  .dSelected:input:checkbox:checked");

        if ($Items == null || $Items.length == 0) {
            ShowResult("Fail", "You are requested to Select before Preview!");
            return;
        }

        $('#Integration #ReportForm').html("");

        var IDs = [];
        var clietnIDs = [];

        if (PreviewOnly == 'true') {


            $Items.each(function () {

                var ID = $(this).closest('tr').find('.dInvoiceNo').text();
                var clietnID = $(this).closest('tr').find('.dID').text();

                if (ID == null || ID == "") {
                    return;
                }

                IDs.push(ID);
                clietnIDs.push(clietnID);

                $('<input type="hidden" name="IDs"/>').val(ID).appendTo('#Integration #ReportForm');


            });


            if (IDs == null || IDs.length == 0) {
                ShowResult("Fail", "No Invoice to Preview!");
                return;
            }
        }
        else {
            $Items.each(function () {

                var ID = $(this).closest('tr').find('.dInvoiceNo').text();
                var Post = $(this).closest('tr').find('.dPost').text();
                var clietnID = $(this).closest('tr').find('.dID').text();

                if (ID == null || ID == "" || Post == "N" || Post == "") {
                    return;
                }

                IDs.push(ID);
                clietnIDs.push(clietnID);

                $('<input type="hidden" name="IDs"/>').val(ID).appendTo('#Integration #ReportForm');


            });

            if (IDs == null || IDs.length == 0) {
                ShowResult("Fail", "No Invoice is ready to Print!");
                return;
            }
        }

        ////var PreviewOnly = $("#PreviewOnly").is(":checked") ? true : false;

        var url = "/VMS/Integration/Report_VAT6_5_Preview";
        url = url + "?" + "PreviewOnly=" + PreviewOnly;


        $('#Integration #ReportForm').attr('action', url);

        $("#Integration #ReportForm").submit();


        if (PreviewOnly == 'false') {

            setTimeout(function () {
                $("#Integration #Processed").val('Y');
                $("#Integration #PostStatus").val('Y');
                $("#Integration #PrintStatus").val('N');

                IntegrationSearch(clietnIDs);


            }, 1000);

        }





    }


    function IntegrationSingleReport(sender) {

        var InvoiceNo = $(sender).closest('tr').find('.dInvoiceNo').text();

        if (InvoiceNo == null || InvoiceNo == "") {
            ShowResult("Fail", "No Data Available!");
            return;
        }

        var url = "/VMS/NBRReport/ReporttransferIsuue" + "?" + "IssueNo=" + InvoiceNo;
        window.open(url, "_blank");

    }


    function IntegrationPost() {

        var IDs = [];
        var clietnIDs = [];

        var $Items = $("#Integration .dSelected:input:checkbox:checked");

        if ($Items == null || $Items.length == 0) {
            ShowResult("Fail", "You are requested to Select before Post!");
            return;
        }

        $Items.each(function () {

            var ID = $(this).closest('tr').find('.dInvoiceNo').text();
            var Post = $(this).closest('tr').find('.dPost').text();
            var clietnID = $(this).closest('tr').find('.dID').text();

            if (ID == null || ID == "" || Post == "Y") {
                return;
            }
            IDs.push(ID);
            clietnIDs.push(clietnID);

        });


        if (IDs == null || IDs.length == 0) {
            ShowResult("Fail", "No Invoice is ready to Post or Already Posted!");
            return;
        }

        var model = {
            ////DataSourceType: $("#DataSourceType").val()
            ////,
            IDs: IDs
        }

        var url = '/VMS/Integration/TransferPost_ACI';


        $.ajax({
            url: url
            , data: model
            , type: 'Post'
            , traditional: true
            , beforeSend: function () { $(".loading").show(); }
            , success: function (rVM) {
                ShowResult(rVM.Status, rVM.Message);

                if (rVM.Status == "Success") {
                    $("#Integration #Processed").val('Y');
                    $("#Integration #PostStatus").val('Y');
                    IntegrationSearch(clietnIDs);
                }
            }
            , complete: function () { $(".loading").fadeOut(200).hide("slow") }

        });


    }





</script>

@*--------------------------------------------------Detail--------------------------------------------------*@


<script>
    ////$(function () {

    function IntegrationShowDetail(sender) {

        var url = "/VMS/Integration/GetTransferData_Detail_ACI";

        var IDs = [];
        var ID = $(sender).closest('tr').find('.dID').text();
        IDs.push(ID);

        var model = {
            Processed: 'ALL'
            , TransactionType: $("#TransactionType").val()
            ////, DataSourceType: $("#DataSourceType").val()
            , IDs: IDs
        }

        var modal = document.getElementById('myHigherModal');
        $.ajax({
            url: url,
            data: model,
            traditional: true,
            cache: false,
            beforeSend: function () { $(".loading").show(); },
            success: function (html) {
                modal.style.display = "block";
                $("#myHigherModal").html(html);
            }
            , complete: function () { $(".loading").fadeOut(200).hide("slow") }
        });

    }
    ////});

</script>


@*--------------------------------------------------MISC--------------------------------------------------*@

<script>
    $("#Integration .chkAll").click(function () {
        $('#Integration  .dSelected:input:checkbox').not(this).prop('checked', this.checked);
    });

</script>

<script language="javascript" type="text/javascript">

    function callingFixedPopUpTable() {
        var args = [100, 100, 100, 100, 150, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100];
        trkFixedPopUpTable("productPopUpTable", 3, args);
    }


    $(function () {
        callingFixedPopUpTable();
    });

    function closeModal() {
        var modal = $('#Integration #myHigherModal');

        modal.html("");
        modal.css("display", "none");
    }
</script>


