@{
    ViewBag.Title = "Index";
}

<div class="headrow">
    <button type="button" title="Add New EXP" data-url="/VMS/EXP/Create" onclick="GoTo(this)" id="" class=" sym-btn-add ">&nbsp;New</button>
    <button type="button" title="Delete EXP" data-url="/VMS/EXP/Delete" onclick="deletedData(this, 'myDataTable');" id="" class="sym-btn-remove">&nbsp;Delete</button>
    <label class="pull-right">EXP</label>
</div>

<div class="thinbox animated slideInDown faster">
    <div class="th_thinbox">
        <p>EXP</p>
    </div>
    <table id="myDataTable" class="display">
        <thead>
            <tr>
                <th class="display"><input type="checkbox" class="chkAll" /> Select All</th>
                <th>LC No</th>
                <th>LC Bank</th>
                <th>LC Date</th>
                <th>EXP No</th>
                <th>EXP Date</th>
                <th>PI No</th>
                <th>PI Date</th>                
            </tr>
        </thead>
    </table>
    <br />
</div>




<div class="headrow">
    <button type="button" title="Add New EXP" data-url="/VMS/EXP/Create" onclick="GoTo(this)" id="" class=" sym-btn-add ">&nbsp;New</button>
    <button type="button" title="Delete EXP" data-url="/VMS/EXP/Delete" onclick="deletedData(this, 'myDataTable');" id="" class="sym-btn-remove">&nbsp;Delete</button>
    <label class="pull-right">EXP</label>
</div>


<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        SelectAllForDelete();
        $.datepicker.regional[""].dateFormat = 'dd/M/y';
        $.datepicker.setDefaults($.datepicker.regional['']);

        function modalInit() {
            var modal = document.getElementById('myModal');
            $('.printBtn').click(function () {
                var url = "/Vms/EXP/Print";
                $.ajax({
                    url: url,
                    cache: false,
                    beforeSend: function () { $(".loading").show(); },
                    complete: function () { $(".loading").fadeOut(200).hide("slow") },
                    success: function (html) {
                        modal.style.display = "block";
                        $("#myModal").html(html);
                    }
                });
            });
        }
        modalInit();


        var oTable = $('#myDataTable').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/VMS/EXP/_index",
            "bProcessing": true,
            "aLengthMenu": tablelength(),
            "bJqueryUI": true,
            "bAutoWidth": false,
            "aoColumns": [
                            {
                                "sName": "Id",
                                "bSearchable": false,
                                "bSortable": false,
                                "sWidth": "8%",
                                "sClass": "center",
                                "fnRender": function (oObj) {
                                    return ' <input onclick="CheckAll(this)" type="checkbox" data-Id="' + oObj.aData[0] + '">'
                                        + '&nbsp; <a id=""  title="Click on for Edit"  style="text-decoration:none;"   href=\"/VMS/EXP/Edit/' + oObj.aData[0] + '\" class=" innerListLink sym-btn-edit-row"></a>'
                                   + '&nbsp; <a title="Click on for Delete"  data-url="/VMS/EXP/Delete" onclick="deletedData(this, myDataTable,\'' + oObj.aData[0] + '\');"  class="sym-btn-remove-row"></a>'
                                    ;
                                }
                                //"sName": "Id", "sWidth": "12%"
                            }
                            , { "sName": "LCNumber", "sWidth": "12%" }
                            , { "sName": "LCBank", "sWidth": "10%" }
                            , { "sName": "LCDate", "sWidth": "8%" }
                            , { "sName": "EXPNo", "sWidth": "8%" }
                            , { "sName": "EXPDate", "sWidth": "8%" }
                            , { "sName": "PINo", "sWidth": "8%" }
                            , { "sName": "PIDate", "sWidth": "8%" }
                            


            ]
        });
    });
</script>

