@model SymVATWebUI.Areas.VMS.Models.Vat16ViewModel
@using UIHelper.MVC
@{
    Layout = null;
}

<style>
    .trkmodal{
        padding-top:10%;
    }
    .trkmodal-content {
        width: 40%;
        padding-bottom: 10px;
    }
    .customDatePicker {
        background: #fefede url(/Images/calendar.jpg) no-repeat 98% !important;
    }
    /*no padding with little margin bttom*/
    div.trkmodal-body div.npForm {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        margin-bottom: 10px;
    }

    div.trkmodal-body div.npForm div.npForm {
        margin-bottom: 0px !important;
    }
</style>
<div class="trkmodal-content">
    <div class="trkmodal-header">
        <span class="close">&times;</span>
        <h2 class="text-center">Report(VAT 18)</h2>
    </div>
    <div class="trkmodal-body">
    @using (Html.BeginForm("ReportVAT18Breakdown", "NBRReport", FormMethod.Post, new { enctype = "multipart/form-data", @target = "_blank", @Id = "frmVAT18Breakdown" }))
{
    <div class="npForm col-md-12">
        <label>Month-Year</label>
        @Html.TextBoxFor(m => m.StartDate, new { @placeholder = "Start Date", @class = "customDatePicker form-control" })
    </div>
        <button type="button" class=" btn sym-btn-report trPrint"> Print</button>
        <button type="button" class="sym-btn-close closeBtn pull-right"> Close</button>
    }
    </div>
</div>
<script src="~/assets/javascripts/custom.js"></script>
<script>
    $(document).ready(function () {
        ///check validation
        function checkValidation() {
            var startDate = $('#StartDate').val();
            if (startDate == "") {
                ShowResult("Fail", "Select date please!");
                return false;
            }
            return true;
        }

        ////clicking vat16 button
        $('.trPrint').click(function () {
            var isValid = checkValidation();
            if (isValid == false) {
                return;
            }
            $("#PreviewOnly").val("false");
            $('#frmVAT18Breakdown').submit();
            //pageSubmit('frmVAT18Breakdown');
        });

        function closeModal() {
            $("#myModal").html("");
            trkmodal.style.display = "none";
        }

        var span = document.getElementsByClassName("close")[0];
        var trkmodal = document.getElementById('myModal');
        //When the user clicks on <span> (x), close the trkmodal
        span.onclick = function () {
            closeModal();
        }

        $('.closeBtn').click(function () {
            closeModal();
        });
        
    });
</script>
