@model VATViewModel.DTOs.VAT7VM
@{
    ViewBag.Title = "PrintVAT7";
}
<style>

</style>
<div class="thinbox animated zoomIn faster">
    <div class="th_thinbox trkformDesign">
        <p>VAT 7 Entry</p>
    </div>
</div>

<script>
</script>

